@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto&display=swap');

html,
body {
    height: 100%;
}

:root {
    --shelf-color: #ffffff;
    --shelf-dark-color: #f1f1f1;
    --dark-color: #2f3130;
    --light-color: #f8f2e6;
}

body,
h1,
h2,
p {
    margin: 0;
}

body {
    background: var(--dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Patrick Hand', cursive;
    color: white;
}

/* BOOKSHELF DESIGN */

.bookshelf {
    flex-shrink: 0;
    width: 500px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.shelf:nth-of-type(odd) {
    grid-column: 1 / 9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.shelf:nth-of-type(even) {
    grid-column: 3 / 11;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.shelf {
    background: var(--shelf-dark-color);
    border: 12px solid var(--shelf-color);
    display: flex;
    align-items: end;
    position: relative;
}

.shelf:first-child::before,
.shelf:last-child::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 100px;
    right: -112px;
    top: -12px;
    background: var(--shelf-color);
}

.shelf:last-child::before {
    top: 136px;
}

.shelf:nth-of-type(odd)::after {
    content: url('./img/books.svg');
    width: 80px;
    height: auto;
    position: absolute;
    right: -100px;
    bottom: -18px;
}

.shelf:nth-child(3)::after {
    content: url('./img/hourglass.svg');
}

.shelf:last-child::after {
    content: url('./img/red-bag.svg');
    bottom: -10px;
}

.shelf:nth-of-type(even)::after {
    content: url('./img/plant.svg');
    width: 100px;
    height: auto;
    position: absolute;
    left: -115px;
    bottom: -18px;
}

.shelf:nth-child(4)::after {
    content: url('./img/yellow-car.svg');
    width: 60px;
    left: -90px;
    bottom: -26px;
}

/* BOOK DESIGN */

.book {
    padding: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    border: .5px solid black;
    
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    max-height: 100px;
    min-height: 50px;
}

.add-button {
    font-size: 40px;
    transition: all .2s ease-in-out;
}

.add-button:hover {
    transform: scale(1.1);
}

.book, 
.add-button,
button,
.close-button {
    cursor: pointer;
}

/* MODAL */

.modal,
.book-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: var(--dark-color);
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
}

.close-button:hover {
    color: black;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* FORM MODAL'S CONTENT */

h1 {
    font-size: 3rem;
}

input,
form label,
button {
    font-family: inherit;
    font-size: 2rem;
}

input[type=text],
input[type=number] {
    width: 80%;
    background: var(--shelf-dark-color);
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
}

label[for=title],
label[for=author],
label[for=pages] {
    opacity: 0;
    position: absolute;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid var(--dark-color);

}

button:hover {
    background: var(--dark-color);
    color: white;
}

form div,
button {
    margin-top: 20px;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* BOOK MODAL'S CONTENT */

.book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.book-sub-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.book-sub-info:last-child p {
    font-size: 1.5rem;
}

.remove {
    padding: 5px 20px;
    font-size: 1rem;

}
.remove:hover {
    background-color: red;
    border-color: white;
}

/* TOGGLE SWITCH */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }